server {
    listen 80;
    listen [::]:80;
    server_name {{conf_domain}};
    return 301 https://$host$request_uri;
}

server {
        #listen         {{conf_port}};
        server_name     {{conf_domain}};
        root            {{conf_root_path}};
        access_log      {{conf_access_log}};

        listen 443 ssl; ## listen for ipv4
        ssl on;
        ssl_certificate     /etc/nginx/certs/cert.crt;
        ssl_certificate_key /etc/nginx/certs/cert.key;
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";

        ## OCSP Stapling
        #resolver 127.0.0.1;
        #ssl_stapling on;
        #ssl_stapling_verify on;
        #ssl_trusted_certificate /etc/nginx/certs/ssl.cer;

        client_max_body_size {{conf_client_max_body_size}};

        location / {
            index index.html index.htm index.php;
            try_files $uri $uri/ /index.php$is_args$args;
        }

        location /GponForm/diag_Form {
            return 403;
        }

        location ~ \.htaccess {
            deny all;
        }

        location ~* \.(gif|jpg|jpeg|png|css|js)$ {
            expires max;
        }

        location ~ \.php$ {
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_index index.php;
            fastcgi_pass  unix:/var/run/php-fpm/www.sock;         
            try_files $uri =404;
            include       fastcgi_params;
            fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
            fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
            fastcgi_param   YII_ENV            'prod';
            fastcgi_param   YII_DEBUG           0;
        }

        location ~ /\.(ht|svn|git) {
            deny all;
        }  
}